@page
@model Portafolio.Pages.ProjectsModel

@{
    ViewData["Title"] = "Proyectos";
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Projects.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>

    <section class="projects p-4">
        <div class="container text-center">
            <h1 class="mb-3 reveal-projects-title">Proyectos</h1>
            <nav class="navigation mx-auto reveal-projects-nav">
                <ul class="nav-list">
                    <li class="active">
                        <a href="#" class="btnBringAllProjects">
                            Todos los proyectos
                        </a>
                    </li>
                    <li>
                        <a href="#web" class="btnBringWebProjects">
                            Web
                        </a>
                    </li>
                    <li>
                        <a href="#mobile" class="btnBringMobileProjects">
                            Móvil
                        </a>
                    </li>
                    <li>
                        <a href="#mini">
                            Mini proyectos
                        </a>
                    </li>
                    <!-- more links -->
                    <div class="active-bar"></div>
                </ul>
            </nav>

            <div id="results" class="row row-cols-1 row-cols-lg-2 mb-4 reveal-projects-row gy-5 mt-4 text-white">
                @foreach (var project in Model.Projects)
                {
                    <div class="col reveal-project">
                        <div class="cardProjects">
                            <img src="@project.ImageUrl" alt="Project Image">
                            <h5>@project.Name</h5>
                            <p>@project.Description</p>
                            <p>@project.Technologies</p>
                            <a target="_blank" class="btnGithub" href="@project.GithubLink"><i class="bi bi-github"></i></a>
                        </div>
                    </div>
                }
            </div>

        </div>
    </section>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/Projects.js" asp-append-version="true"></script>

</body>
</html>


